---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=1000&card=tok_2cCr9I9l14EnmA&description=Online%20product%20order%20%23729886336&currency=usd
    headers:
      Authorization:
      - Bearer w8IbUDoZaWrcUYI7UJ2QZOTfMg9fmp4B
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"error\": {\n    \"message\": \"Your card was declined.\",\n
        \   \"type\": \"card_error\",\n    \"code\": \"card_declined\",\n    \"charge\":
        \"ch_2cCrRv3BEeLfVt\"\n  }\n}\n"
  recorded_at: Sat, 21 Sep 2013 22:01:39 GMT
recorded_with: VCR 2.5.0
