---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[cvc]=123&card[exp_month]=9&card[exp_year]=2014
    headers:
      Authorization:
      - Bearer pk_STQRp9HXgAmsrWIusSqg2pRlZyWFs
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"tok_2cCr9I9l14EnmA\",\n  \"livemode\": false,\n  \"created\":
        1379800893,\n  \"used\": false,\n  \"object\": \"token\",\n  \"type\": \"card\",\n
        \ \"card\": {\n    \"id\": \"card_2cCrgnPinb9h33\",\n    \"object\": \"card\",\n
        \   \"last4\": \"0002\",\n    \"type\": \"Visa\",\n    \"exp_month\": 9,\n
        \   \"exp_year\": 2014,\n    \"fingerprint\": \"38ORREL0Qm9AOCfu\",\n    \"customer\":
        null,\n    \"country\": \"US\",\n    \"address_city\": null\n  },\n  \"amount\":
        0,\n  \"currency\": \"usd\"\n}\n"
  recorded_at: Sat, 21 Sep 2013 22:01:36 GMT
recorded_with: VCR 2.5.0
