---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=1000&card=tok_2p3qHda5ugv0lF&description=Online%20product%20order%20%23729886336&currency=usd
    headers:
      Authorization:
      - Bearer w8IbUDoZaWrcUYI7UJ2QZOTfMg9fmp4B
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"ch_2p3qsbXyHuoRkw\",\n  \"object\": \"charge\",\n
        \ \"created\": 1382765715,\n  \"livemode\": false,\n  \"paid\": true,\n  \"amount\":
        1000,\n  \"currency\": \"usd\",\n  \"refunded\": false,\n  \"card\": {\n    \"id\":
        \"card_2p3qht118TIdOG\",\n    \"object\": \"card\",\n    \"last4\": \"1881\",\n
        \   \"type\": \"Visa\",\n    \"exp_month\": 10,\n    \"exp_year\": 2014,\n
        \   \"fingerprint\": \"qXF8ON7cTsiabPQD\",\n    \"customer\": null,\n    \"country\":
        \"US\",\n    \"address_city\": null,\n    \"cvc_check\": \"pass\"\n  },\n
        \ \"captured\": true,\n  \"balance_transaction\": \"txn_2p3qWw20L5THXY\",\n
        \ \"failure_code\": null,\n  \"description\": \"Online product order #729886336\",\n
        \ \"dispute\": null,\n  \"metadata\": {},\n  \"fee\": 59,\n  \"fee_details\":
        [\n    {\n      \"amount\": 59,\n      \"currency\": \"usd\",\n      \"type\":
        \"stripe_fee\",\n      \"description\": \"Stripe processing fees\",\n      \"application\":
        null,\n      \"amount_refunded\": 0\n    }\n  ],\n  \"disputed\": false\n}\n"
  recorded_at: Sat, 26 Oct 2013 05:35:19 GMT
recorded_with: VCR 2.5.0
