---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=tubbo%40psychedeli.ca&card=tok_2jQDJZc2AsRyRk
    headers:
      Authorization:
      - Bearer w8IbUDoZaWrcUYI7UJ2QZOTfMg9fmp4B
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"object\": \"customer\",\n  \"created\": 1381465045,\n  \"id\":
        \"cus_2jQDsQgPotWlp8\",\n  \"livemode\": false,\n  \"email\": \"tubbo@psychedeli.ca\",\n
        \ \"metadata\": {},\n  \"account_balance\": 0,\n  \"cards\": {\n    \"object\":
        \"list\",\n    \"count\": 1,\n    \"url\": \"/v1/customers/cus_2jQDsQgPotWlp8/cards\",\n
        \   \"data\": [\n      {\n        \"id\": \"card_2jQDXywCAzo59o\",\n        \"object\":
        \"card\",\n        \"last4\": \"1881\",\n        \"type\": \"Visa\",\n        \"exp_month\":
        10,\n        \"exp_year\": 2014,\n        \"fingerprint\": \"qXF8ON7cTsiabPQD\",\n
        \       \"customer\": \"cus_2jQDsQgPotWlp8\",\n        \"country\": \"US\",\n
        \       \"address_city\": null,\n        \"cvc_check\": \"pass\"\n      }\n
        \   ]\n  },\n  \"default_card\": \"card_2jQDXywCAzo59o\",\n  \"active_card\":
        {\n    \"id\": \"card_2jQDXywCAzo59o\",\n    \"object\": \"card\",\n    \"last4\":
        \"1881\",\n    \"type\": \"Visa\",\n    \"exp_month\": 10,\n    \"exp_year\":
        2014,\n    \"fingerprint\": \"qXF8ON7cTsiabPQD\",\n    \"customer\": \"cus_2jQDsQgPotWlp8\",\n
        \   \"country\": \"US\",\n    \"address_city\": null,\n    \"cvc_check\":
        \"pass\"\n  }\n}\n"
  recorded_at: Fri, 11 Oct 2013 04:17:25 GMT
recorded_with: VCR 2.5.0
